:root {
    /* Cyan Color - Dark Mode */
    /* --primary-color: #81E6D9; */
    --lm-alert-success-border-color: #0ac46d;
}

.content {
    margin: 0 2rem;
}

@media screen and (min-width: 760px) {
    .content {
        max-width: 720px;
        margin: auto;
    }

    .navbar-content {
        margin: 0 2rem;
    }
}

.navbar {
    background-color: #ffffffb8;
    backdrop-filter: blur(5px);
    background-image: none;
    border: none;
    box-shadow: none;
}

.dark-mode .navbar {
    background-color: #25282cb8;
    backdrop-filter: blur(5px);
    background-image: none;
    border: none;
    box-shadow: none;
}

.alert.alert-success {
    color: var(--lm-alert-success-border-color);
}